body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/bma-home-base.appspot.com/o/nice-meme-react%20Background.jpg?alt=media&token=40281c6f-a3b6-42f1-9538-10a8eaf31255");
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  width: 100%;
  bottom: 0px;
  border: 1px solid rgba(200, 165, 227, 0.4);
  clear: both;
  background-color: rgba(200, 165, 227, 0.4);
}

.footer-children {
  display: table-cell;
  padding: 0px 50px;
}

.standardButton {
  height: 75px;
  width: 100px;
}

.stat-bar {
  position: fixed;
  top: 120px;
  right: 20px;
  border: 1px solid green;
  padding: 0px 30px 0px 0px;
}

.stat-bar ul {
  list-style-type: none;
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: 20px;
  border: 1px solid rgba(200, 165, 227, 0.4);
  clear: both;
  background-color: rgba(200, 165, 227, 0.4);
}

.nav-children {
  display: table-cell;
  padding: 0px 50px;
}

.lootBox {
  display: table-cell;
  padding: 0px 10px;
}

.standardItem {
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
  clear: both;
  display: inline-block;
}

.standardItem:hover {
  color: green;
}

#happy-placeholder-text {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
